<%= form_with(model: delivery, local: true) do |form| %>
  <% if delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :delivery_address %>
    <%= form.text_field :delivery_address, id: :delivery_delivery_address %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.collection_select :order_id, Order.all, :id, :product_id, :include_blank => "Select from list" %>
	
  </div>

  <div class="field">
    <%= form.label :recipient %>
    <%= form.text_field :recipient, id: :delivery_recipient %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.text_field :delivery_date, id: :delivery_delivery_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
