<p id="notice"><%= notice %></p>

<p>
  <strong>Product type:</strong>
  <%= @product.product_type %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<h2>Star Rating and Comment </h2>
	<%= form_for([@product, Comment.new]) do |form| %>
		       
		<h3><%= form.label :stars %>
	 	  <% stars = [1, 2, 3, 4, 5] %>
		  <% stars.each do |star| %>
			<%= form.radio_button :stars, star %> <%= star %>			
		  <% end %>
		</h3><br>
  		<%= form.text_area :content, :rows => 4, :cols => 40 %> 
		<div class="actions">
			<%= form.submit "Post a Comment"%>
		</div>
	<% end %>
	


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
